* {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
    font-size: 13px;
    background-color: #000;
}

.static-noise {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 15;
    display: block;
    background-image: url("icons/static.gif");
    background-size: 200px 200px;
    background-repeat: repeat;
}

.smpte {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 16;
    display: flex;
    flex-wrap: nowrap;
    opacity: 0;
}

.smpte .bar {
    height: 100%;
    width: 100%;
}

.smpte .bar-1 {
    background-color: rgb(255, 255, 255);
}

.smpte .bar-2 {
    background-color: rgb(180, 180, 16);
}

.smpte .bar-3 {
    background-color: rgb(16, 180, 180);
}

.smpte .bar-4 {
    background-color: rgb(16, 180, 16);
}

.smpte .bar-5 {
    background-color: rgb(180, 16, 180);
}

.smpte .bar-6 {
    background-color: rgb(180, 16, 16);
}

.smpte .bar-7 {
    background-color: rgb(16, 16, 180);
}

#player {
    position: fixed;
}

.power-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 18;
    display: none;
    background-color: #000;
}

.info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 20;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
}

.info .wrapper {
    width: 100%;
    max-width: 600px;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: column;
}

.info .wrapper .close {
    padding: 1rem;
    border-radius: 0.3rem;
    transition: 0.2s ease;
    margin-left: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info .wrapper .close:hover {
    background-color: rgba(0, 0, 0, 0.03);
}

.info .wrapper .close img {
    width: 1.5rem;
    height: 1.5rem;
    opacity: 0.7;
}

.info .wrapper .content {
    padding: 1rem;
    margin-top: 2rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 500;
    color: #000;
}

.info .wrapper .content .title {
    font-size: 1.2rem;
    color: #888;
    margin-bottom: 0.3rem;
}

.info .wrapper .content .text {
    font-size: 1rem;
    color: #222;
    margin-bottom: 2rem;
}

.control {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 19;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding: 1rem;
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(7px);
}

.control .button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    border-radius: 0.3rem;
    background-color: transparent;
    user-select: none;
}

.control .wrapper .left-buttons img,
.control .wrapper .minimize img,
.control .wrapper .power img {
    width: 1.2rem;
}

.control .wrapper .right-buttons img {
    width: 1.5rem;
}

.control .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control .wrapper .left-buttons {
    margin-right: 1rem;
}

.control .wrapper .left-buttons .button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.control .wrapper .left-buttons .button:first-child {
    margin-bottom: 1rem;
}

.control .wrapper .right-buttons {
    border-radius: 0.3rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
}

.control .wrapper .right-buttons .button:first-child {
    margin-bottom: 1rem;
}

.control .wrapper .video-id,
.control .wrapper .support {
    font-size: 0.7rem;
    color: #000;
    background-color: #fff;
    width: 7rem;
    height: 2rem;
    line-height: 2rem;
    margin-top: 1rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
}

.control .wrapper .video-id {
    cursor: text;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    user-select: all;
}

.control .wrapper .minimize,
.control .wrapper .power {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    margin: 0 0 1rem 0;
}

.control .wrapper .power {
    margin-right: 1rem;
}

@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5), -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    20% {
        text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5), -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    25% {
        text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    30% {
        text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    35% {
        text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5), -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    40% {
        text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5), -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    45% {
        text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5), -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    50% {
        text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    55% {
        text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    60% {
        text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5), -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    65% {
        text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5), -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    70% {
        text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5), -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    75% {
        text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5), -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    80% {
        text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    85% {
        text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5), -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5), -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5), -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
}

.channel-name {
    position: fixed;
    top: 2rem;
    left: 2rem;
    font-size: 2rem;
    color: #00ff22;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #000;
    z-index: 17;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    animation: textShadow 1.9s infinite;
}

.title {
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    color: #cdcfcd;
    text-transform: uppercase;
    text-shadow: 0px 0px 2px #000;
    z-index: 17;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    pointer-events: none;
    animation: textShadow 1.9s infinite;
}

@keyframes fadeout {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@media only screen and (min-width: 800px) {

    html,
    body {
        font-size: 17px;
    }
}